@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Craft Website</h1>
</div>
@foreach(var item in Model.Products)
{
    <h2>
        @item.Title
    </h2>
}
